.container {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
}

.container iframe {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}
