.container {
  width: 80%;
  height: 300px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.container iframe {
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}
